<img class='s-main__img'src="{{url}}" alt="preview picture">
<div class="s-main__info">
    <div class="s-main__author">
        <img class="s-main__author-img" src="./img/user.svg" alt="">
        <div class="s-main__author-name">{{channelTitle}}</div>
    </div>
    <div class="s-main__publish">
        <img class="s-main__publish-img" src="./img/calendar.svg" alt="">
        <div class="s-main__publish-date">{{publishedAt}}</div>
    </div>
    <div class="s-main__view">
        <img class="s-main__view-img" src="./img/view.svg" alt="">
        <div class="s-main__view-count">{{viewCount}}</div>
    </div>
    <div class="s-main__youtube">
        <img class="s-main__youtube-img" src="./img/youtube-logotype.svg" alt="">
        <a class="s-main__youtube-link" target="_blanc" href="https://www.youtube.com/watch?v={{id}}">{{title}}</a>
    </div>
    <div class="s-main__desc">
        <div class="s-main__desc-title">Description</div>
        <div class="s-main__desc-text">{{description}}</div>
    </div>
</div>